setuptools
rsa
thrift==0.11.0
requests
bs4
gtts
pytz
humanfriendly
googletrans
nano
null
humanize
html5lib
wikipedia
youtube_dl
livejson
pafy
akad
Naked
subprocess
youtube_dl
humanize
traceback
lesting.api.client
